@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
.encabezado{
    position:static;
}




/*Contenido "nosotros"*/
.texto1{
    font-size: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: solid green;
    
}

.contenedor{
    display: grid;
    height: 120vh;     
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2fr;
    grid-template-areas: "header"
                         "article"
                         "nav"
                         "main"
                         "footer";
}


header{
    grid-area: header;
    width: 100%;
    
}
article{
    grid-area: article;
 }

nav{ 
    grid-area: nav;   
    list-style: none;
    text-decoration: none;
}   

main{
    grid-area: main; 
    gap: 1rem;  
}

footer{
    grid-area: footer;
   column-gap: 1rem;
}
  
/*MQ*/

@media screen and (min-width: 600px) {
    .contenedor{          
        grid-template-columns: 4fr 1fr;
        grid-template-rows: 0.5fr 0.2fr 3fr 0.3fr;
        grid-template-areas: "header header header "
                             "nav nav nav"                             
                             "article main main"
                             "footer footer";
}
}

@media screen and (min-width: 768px) {
    .contenedor{         
        grid-template-columns: 1fr 1fr 2fr ;
        grid-template-rows: 1fr 0.5 0.5fr 1fr;
        grid-template-areas: "nav nav nav" 
                             "header header header"                             
                             "article main main"
                             "footer footer footer"; 
                             
}
article{
    grid-area: article;
}
.carousel-item{
    width: 400px;
} 

header img{
    width: 100%;
    height: 95%;
}

footer{
    background-color: black;
    bottom: 0;
    padding: 10px;
    width: 100%;
}
footer h3{
    color: white;
    font-weight: bold;
}
}

/*menu*/
.navbar-toggler{
    color:black
}
/*form-contacto*/
.form-contacto{
    border: 1px solid blue;
}
/*logo del nav*/
.logo{
    width: 15%;
}
/*navbar- menu*/
.navbar-nav{
    font-size: 20px;
    
}

.navbar-nav :hover{
    background-color: aliceblue;
    text-decoration: underline;
}
/*sub-menu del menu*/
.dropdown-menu{
    font-size: 20px;

}
.dropdown-menu :hover{
    background-color: brown;
}
.navbar-nav{
    font-size: 35px;
    
}

.navbar-nav :hover{
    background-color: aliceblue;
    text-decoration: underline;
}

/*Contacto*/
.body-contacto{
    background-image: url(../img/Dailogo.png);
    background-position: center;
    background-repeat: no-repeat
}
/*area*/

.contenedor-mapa {
    padding: 30px;
    text-align: center;
    border: 30px;

}